<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="true">
    
    <servlet>  
        <servlet-name>FacesServlet</servlet-name>  
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>  
        <load-on-startup>1</load-on-startup>  
    </servlet>  

    <servlet>
        <servlet-name>jersey-services</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.devdom.skills.service</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>org.devdom.skills.filter.MediaTypeFilter</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey-services</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/api/error/404</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.IllegalArgumentException</exception-type>
        <location>/api/error/500/IllegalArgument</location>
    </error-page>
    <error-page>
        <exception-type>oracle.toplink.essentials.exceptions.PersistenceUnitLoadingException</exception-type>
        <location>/api/error/500/PersistenceUnitLoading</location>
    </error-page>

    <listener>  
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>  
    </listener> 

    </web-app>
